
.vs/ProyectoFinal/FileContentIndex/badd47c8-7fc8-4134-8100-5f57d584fb52.vsidx
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/ipch/AutoPCH/2374b0ce1b907275/MAINPRUEBA.ipch
.vs/ProyectoFinal/FileContentIndex/0552e284-5118-4fdc-a2b5-2e65f709369d.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/b3ea9e37763a6589/MAINPRUEBA.ipch
.vs/ProyectoFinal/FileContentIndex/239b3944-81c7-452b-a74a-928d91bad30d.vsidx
.vs/ProyectoFinal/FileContentIndex/312ce3d2-e3ff-481a-9af1-faf3de247f4b.vsidx
.vs/ProyectoFinal/FileContentIndex/acd7a0db-cbf5-4721-98da-6df5c1ac6555.vsidx
.vs/ProyectoFinal/FileContentIndex/e3dcf301-ceb5-4c87-b285-1ef0f0ac071e.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/7c4afbfe76eb1185/MAINPRUEBA.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/a780ae086ac3602f/MAINPRUEBA.ipch
ProyectoFinal/Debug/ProyectoFinal.log
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.log
.vs/ProyectoFinal/FileContentIndex/3330e9fa-aab2-4b63-9043-030eff34c9d8.vsidx
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
.vs/ProyectoFinal/FileContentIndex/4550c3a5-2b6d-4231-a399-11b9509afcc9.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/dad27f93b3f53353/MAINPRUEBA.ipch
ProyectoFinal/Release/ProyectoFinal.log
ProyectoFinal/Release/ProyectoFinal.tlog/CL.command.1.tlog
ProyectoFinal/Release/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Release/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Release/ProyectoFinal.tlog/link.command.1.tlog
ProyectoFinal/Release/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Release/ProyectoFinal.tlog/link.write.1.tlog
.vs/ProyectoFinal/FileContentIndex/1b62b705-5f05-4987-8436-cb6ef18d16f9.vsidx
